[flake8]
max-line-length = 88
extend-ignore = 
    # Ignore missing docstrings in notebooks
    D100,D101,D102,D103,
    # Ignore line too long for notebooks
    E501,
    # Ignore import position for notebooks
    E402
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    .venv

[flake8:local-plugins]
extension =